# Forbes Fortune 500 Companies Data Analysis 

In this project I will explore the vast data from the world's fortune 500 companies in 2017, available at [data.world](https://data.world/chasewillden/fortune-500-companies-2017). Below I will analyze that data to answer the following questions:

### What are the top companies in 2017?

### What industries do the top companies represent?

### What else can be gathred from this data?


To accomplish this I will do the following:

1. Explore the Data
2. Clean the Data
3. Analyze the Data
4. Make Conclusions from my analysis

### 1. Explore the Data

In [1]:
import pandas as pd
f500 = pd.read_csv('f500.csv',index_col=0)
f500.index.name = None
f500_type = type(f500)
f500_shape = f500.shape[0:]
f500_shape2 = f500.shape
print(f500[:3])
print(f500_type)
print(f500_shape)
print(f500_shape2)

               rank  revenues  revenue_change  profits  assets  profit_change  \
Walmart           1    485873             0.8  13643.0  198825           -7.2
State Grid        2    315199            -4.4   9571.3  489838           -6.2
Sinopec Group     3    267518            -9.1   1257.9  310726          -65.0

                               ceo               industry     sector  \
Walmart        C. Douglas McMillon  General Merchandisers  Retailing
State Grid                 Kou Wei              Utilities     Energy
Sinopec Group            Wang Yupu     Petroleum Refining     Energy

               previous_rank country      hq_location                 website  \
Walmart                    1     USA  Bentonville, AR  http://www.walmart.com
State Grid                 2   China   Beijing, China  http://www.sgcc.com.cn
Sinopec Group              4   China   Beijing, China  http://www.sinopec.com

               years_on_global_500_list  employees  total_stockholder_equity
Walmart                              23    2300000                     77798
State Grid                           17     926067                    209456
Sinopec Group                        19     713288                    106523
<class 'pandas.core.frame.DataFrame'>
(500, 16)
(500, 16)

In [2]:
f500_head = f500.head(6)
f500_tail = f500.tail(8)
print(f500_head[:3])
print(f500_tail[:3])

               rank  revenues  revenue_change  profits  assets  profit_change  \
Walmart           1    485873             0.8  13643.0  198825           -7.2
State Grid        2    315199            -4.4   9571.3  489838           -6.2
Sinopec Group     3    267518            -9.1   1257.9  310726          -65.0

                               ceo               industry     sector  \
Walmart        C. Douglas McMillon  General Merchandisers  Retailing
State Grid                 Kou Wei              Utilities     Energy
Sinopec Group            Wang Yupu     Petroleum Refining     Energy

               previous_rank country      hq_location                 website  \
Walmart                    1     USA  Bentonville, AR  http://www.walmart.com
State Grid                 2   China   Beijing, China  http://www.sgcc.com.cn
Sinopec Group              4   China   Beijing, China  http://www.sinopec.com

               years_on_global_500_list  employees  total_stockholder_equity
Walmart                              23    2300000                     77798
State Grid                           17     926067                    209456
Sinopec Group                        19     713288                    106523
                                       rank  revenues  revenue_change  \
Telecom Italia                          493     21941           -17.4
Xiamen ITG Holding Group                494     21930            34.3
Xinjiang Guanghui Industry Investment   495     21919            31.1

                                       profits  assets  profit_change  \
Telecom Italia                          1999.4   74295            NaN
Xiamen ITG Holding Group                  35.6   12161          -25.1
Xinjiang Guanghui Industry Investment    251.8   31957           49.9

                                                   ceo            industry  \
Telecom Italia                         Flavio Cattaneo  Telecommunications
Xiamen ITG Holding Group                     Xu Xiaoxi             Trading
Xinjiang Guanghui Industry Investment    Shang Jiqiang             Trading

                                                   sector  previous_rank  \
Telecom Italia                         Telecommunications            404
Xiamen ITG Holding Group                      Wholesalers              0
Xinjiang Guanghui Industry Investment         Wholesalers              0

                                      country    hq_location  \
Telecom Italia                          Italy   Milan, Italy
Xiamen ITG Holding Group                China  Xiamen, China
Xinjiang Guanghui Industry Investment   China  Urumqi, China

                                                            website  \
Telecom Italia                         http://www.telecomitalia.com
Xiamen ITG Holding Group               http://www.itgholding.com.cn
Xinjiang Guanghui Industry Investment       http://www.guanghui.com

                                       years_on_global_500_list  employees  \
Telecom Italia                                               18      61227
Xiamen ITG Holding Group                                      1      18454
Xinjiang Guanghui Industry Investment                         1      65616

                                       total_stockholder_equity
Telecom Italia                                            22366
Xiamen ITG Holding Group                                   1066
Xinjiang Guanghui Industry Investment                      4563

In [3]:
f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [4]:
industries = f500['industry']
industries2 = f500.loc[:,'industry']
industries_type = type(industries)
print(industries[:3])
print(industries2[:3])
print(industries_type)

Walmart          General Merchandisers
State Grid                   Utilities
Sinopec Group       Petroleum Refining
Name: industry, dtype: object
Walmart          General Merchandisers
State Grid                   Utilities
Sinopec Group       Petroleum Refining
Name: industry, dtype: object
<class 'pandas.core.series.Series'>

In [5]:
countries = f500['country']
revenues_years = f500[['revenues','years_on_global_500_list']]
ceo_to_sector = f500.loc[:,"ceo":"sector"]
print(countries[:3])
print(revenues_years[:3])
print(ceo_to_sector[:3])

Walmart            USA
State Grid       China
Sinopec Group    China
Name: country, dtype: object
               revenues  years_on_global_500_list
Walmart          485873                        23
State Grid       315199                        17
Sinopec Group    267518                        19
                               ceo               industry     sector
Walmart        C. Douglas McMillon  General Merchandisers  Retailing
State Grid                 Kou Wei              Utilities     Energy
Sinopec Group            Wang Yupu     Petroleum Refining     Energy

In [6]:
toyota = f500.loc['Toyota Motor']
drink_companies = f500.loc[['Anheuser-Busch InBev', 'Coca-Cola', 'Heineken Holding']]
middle_companies = f500.loc['Tata Motors':'Nationwide','rank':'country']
print(toyota[:3])
print(drink_companies[:3])
print(middle_companies[:3])

rank                   5
revenues          254694
revenue_change       7.7
Name: Toyota Motor, dtype: object
                      rank  revenues  revenue_change  profits  assets  \
Anheuser-Busch InBev   206     45905             5.3   1241.0  258381
Coca-Cola              235     41863            -5.5   6527.0   87270
Heineken Holding       468     23044            -0.7    861.5   41469

                      profit_change                        ceo   industry  \
Anheuser-Busch InBev          -85.0               Carlos Brito  Beverages
Coca-Cola                     -11.2           James B. Quincey  Beverages
Heineken Holding              -18.9  Jean-Francois van Boxmeer  Beverages

                                         sector  previous_rank      country  \
Anheuser-Busch InBev  Food, Beverages & Tobacco            211      Belgium
Coca-Cola             Food, Beverages & Tobacco            206          USA
Heineken Holding      Food, Beverages & Tobacco            459  Netherlands

                                 hq_location  \
Anheuser-Busch InBev         Leuven, Belgium
Coca-Cola                        Atlanta, GA
Heineken Holding      Amsterdam, Netherlands

                                                website  \
Anheuser-Busch InBev            http://www.ab-inbev.com
Coca-Cola               http://www.coca-colacompany.com
Heineken Holding      http://www.theheinekencompany.com

                      years_on_global_500_list  employees  \
Anheuser-Busch InBev                        12     206633
Coca-Cola                                   23     100300
Heineken Holding                            11      73525

                      total_stockholder_equity
Anheuser-Busch InBev                     71339
Coca-Cola                                23062
Heineken Holding                          6958
                         rank  revenues  revenue_change  profits  assets  \
Tata Motors               247     40329            -4.2   1111.6   42162
Aluminum Corp. of China   248     40278             6.0   -282.5   75089
Mitsui                    249     40275             1.6   2825.3  103231

                         profit_change               ceo  \
Tata Motors                      -34.0  Guenter Butschek
Aluminum Corp. of China            NaN          Yu Dehui
Mitsui                             NaN   Tatsuo Yasunaga

                                         industry                  sector  \
Tata Motors              Motor Vehicles and Parts  Motor Vehicles & Parts
Aluminum Corp. of China                    Metals               Materials
Mitsui                                    Trading             Wholesalers

                         previous_rank country
Tata Motors                        226   India
Aluminum Corp. of China            262   China
Mitsui                             245   Japan

In [7]:
countries = f500['country']
country_counts = countries.value_counts()
print(type(countries))
print(country_counts)

<class 'pandas.core.series.Series'>
USA             132
China           109
Japan            51
Germany          29
France           29
Britain          24
South Korea      15
Netherlands      14
Switzerland      14
Canada           11
Spain             9
Italy             7
Brazil            7
Australia         7
India             7
Taiwan            6
Russia            4
Ireland           4
Sweden            3
Singapore         3
Mexico            2
U.A.E             1
Malaysia          1
Saudi Arabia      1
Israel            1
Turkey            1
Belgium           1
Finland           1
Norway            1
Indonesia         1
Denmark           1
Venezuela         1
Thailand          1
Luxembourg        1
Name: country, dtype: int64

In [8]:
countries = f500['country']
countries_counts = countries.value_counts()
india = countries_counts['India']
north_america = countries_counts[['USA','Canada','Mexico']]
print(india)
print(north_america)

7
USA       132
Canada     11
Mexico      2
Name: country, dtype: int64

In [9]:
big_movers = f500.loc[['Aviva', 'HP', 'JD.com', 'BHP Billiton'], ['rank', 'previous_rank']]
bottom_companies = f500.loc['National Grid':'AutoNation',['rank','sector','country']]
print(big_movers)
print(bottom_companies)

              rank  previous_rank
Aviva           90            279
HP             194             48
JD.com         261            366
BHP Billiton   350            168
                                       rank              sector  country
National Grid                           491              Energy  Britain
Dollar General                          492           Retailing      USA
Telecom Italia                          493  Telecommunications    Italy
Xiamen ITG Holding Group                494         Wholesalers    China
Xinjiang Guanghui Industry Investment   495         Wholesalers    China
Teva Pharmaceutical Industries          496         Health Care   Israel
New China Life Insurance                497          Financials    China
Wm. Morrison Supermarkets               498  Food & Drug Stores  Britain
TUI                                     499   Business Services  Germany
AutoNation                              500           Retailing      USA

In [10]:
f500_head = f500.head(10)
f500.info()
print(f500_head)

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 86.4+ KB
                          rank  revenues  revenue_change  profits  assets  \
Walmart                      1    485873             0.8  13643.0  198825
State Grid                   2    315199            -4.4   9571.3  489838
Sinopec Group                3    267518            -9.1   1257.9  310726
China National Petroleum     4    262573           -12.3   1867.5  585619
Toyota Motor                 5    254694             7.7  16899.3  437575
Volkswagen                   6    240264             1.5   5937.3  432116
Royal Dutch Shell            7    240033           -11.8   4575.0  411275
Berkshire Hathaway           8    223604             6.1  24074.0  620854
Apple                        9    215639            -7.7  45687.0  321686
Exxon Mobil                 10    205004           -16.7   7840.0  330314

                          profit_change                  ceo  \
Walmart                            -7.2  C. Douglas McMillon
State Grid                         -6.2              Kou Wei
Sinopec Group                     -65.0            Wang Yupu
China National Petroleum          -73.7        Zhang Jianhua
Toyota Motor                      -12.3          Akio Toyoda
Volkswagen                          NaN      Matthias Muller
Royal Dutch Shell                 135.9      Ben van Beurden
Berkshire Hathaway                  NaN    Warren E. Buffett
Apple                             -14.4      Timothy D. Cook
Exxon Mobil                       -51.5      Darren W. Woods

                                                          industry  \
Walmart                                      General Merchandisers
State Grid                                               Utilities
Sinopec Group                                   Petroleum Refining
China National Petroleum                        Petroleum Refining
Toyota Motor                              Motor Vehicles and Parts
Volkswagen                                Motor Vehicles and Parts
Royal Dutch Shell                               Petroleum Refining
Berkshire Hathaway        Insurance: Property and Casualty (Stock)
Apple                                  Computers, Office Equipment
Exxon Mobil                                     Petroleum Refining

                                          sector  previous_rank      country  \
Walmart                                Retailing              1          USA
State Grid                                Energy              2        China
Sinopec Group                             Energy              4        China
China National Petroleum                  Energy              3        China
Toyota Motor              Motor Vehicles & Parts              8        Japan
Volkswagen                Motor Vehicles & Parts              7      Germany
Royal Dutch Shell                         Energy              5  Netherlands
Berkshire Hathaway                    Financials             11          USA
Apple                                 Technology              9          USA
Exxon Mobil                               Energy              6          USA

                                     hq_location  \
Walmart                          Bentonville, AR
State Grid                        Beijing, China
Sinopec Group                     Beijing, China
China National Petroleum          Beijing, China
Toyota Motor                       Toyota, Japan
Volkswagen                    Wolfsburg, Germany
Royal Dutch Shell         The Hague, Netherlands
Berkshire Hathaway                     Omaha, NE
Apple                              Cupertino, CA
Exxon Mobil                           Irving, TX

                                                   website  \
Walmart                             http://www.walmart.com
State Grid                          http://www.sgcc.com.cn
Sinopec Group                       http://www.sinopec.com
China National Petroleum            http://www.cnpc.com.cn
Toyota Motor                  http://www.toyota-global.com
Volkswagen                       http://www.volkswagen.com
Royal Dutch Shell                     http://www.shell.com
Berkshire Hathaway        http://www.berkshirehathaway.com
Apple                                 http://www.apple.com
Exxon Mobil                      http://www.exxonmobil.com

                          years_on_global_500_list  employees  \
Walmart                                         23    2300000
State Grid                                      17     926067
Sinopec Group                                   19     713288
China National Petroleum                        17    1512048
Toyota Motor                                    23     364445
Volkswagen                                      23     626715
Royal Dutch Shell                               23      89000
Berkshire Hathaway                              21     367700
Apple                                           15     116000
Exxon Mobil                                     23      72700

                          total_stockholder_equity
Walmart                                      77798
State Grid                                  209456
Sinopec Group                               106523
China National Petroleum                    301893
Toyota Motor                                157210
Volkswagen                                   97753
Royal Dutch Shell                           186646
Berkshire Hathaway                          283001
Apple                                       128249
Exxon Mobil                                 167325

In [11]:
previous_rank = f500['previous_rank']
rank = f500['rank']
rank_change = f500['previous_rank'] - f500['rank']
rank_change2 = previous_rank - rank
print(previous_rank[:3])
print(rank[:3])
print(rank_change[:3])
print(rank_change2[:3])

Walmart          1
State Grid       2
Sinopec Group    4
Name: previous_rank, dtype: int64
Walmart          1
State Grid       2
Sinopec Group    3
Name: rank, dtype: int64
Walmart          0
State Grid       0
Sinopec Group    1
dtype: int64
Walmart          0
State Grid       0
Sinopec Group    1
dtype: int64

In [12]:
rank_change =  f500["previous_rank"] - f500["rank"]
rank_change_max = rank_change.max()
rank_change_min = rank_change.min()
print(rank_change_max)
print(rank_change_min)

226
-500

In [13]:
rank = f500['rank']
rank_desc = rank.describe()
prev_rank = f500['previous_rank']
prev_rank_desc = prev_rank.describe()
print(rank_desc)
print(prev_rank_desc)

count    500.000000
mean     250.500000
std      144.481833
min        1.000000
25%      125.750000
50%      250.500000
75%      375.250000
max      500.000000
Name: rank, dtype: float64
count    500.000000
mean     222.134000
std      146.941961
min        0.000000
25%       92.750000
50%      219.500000
75%      347.250000
max      500.000000
Name: previous_rank, dtype: float64

In [14]:
zero_previous_rank = f500['previous_rank'].value_counts().loc[0]
print(zero_previous_rank)

33

In [15]:
max_f500 = f500.max(numeric_only=True)
print(max_f500)

rank                            500.0
revenues                     485873.0
revenue_change                  442.3
profits                       45687.0
assets                      3473238.0
profit_change                  8909.5
previous_rank                   500.0
years_on_global_500_list         23.0
employees                   2300000.0
total_stockholder_equity     301893.0
dtype: float64

In [16]:
f500_desc = f500.describe()
print(f500_desc)
print(f500.describe(include=['O']))

             rank       revenues  revenue_change       profits        assets  \
count  500.000000     500.000000      498.000000    499.000000  5.000000e+02
mean   250.500000   55416.358000        4.538353   3055.203206  2.436323e+05
std    144.481833   45725.478963       28.549067   5171.981071  4.851937e+05
min      1.000000   21609.000000      -67.300000 -13038.000000  3.717000e+03
25%    125.750000   29003.000000       -5.900000    556.950000  3.658850e+04
50%    250.500000   40236.000000        0.550000   1761.600000  7.326150e+04
75%    375.250000   63926.750000        6.975000   3954.000000  1.805640e+05
max    500.000000  485873.000000      442.300000  45687.000000  3.473238e+06

       profit_change  previous_rank  years_on_global_500_list     employees  \
count     436.000000     500.000000                500.000000  5.000000e+02
mean       24.152752     222.134000                 15.036000  1.339983e+05
std       437.509566     146.941961                  7.932752  1.700878e+05
min      -793.700000       0.000000                  1.000000  3.280000e+02
25%       -22.775000      92.750000                  7.000000  4.293250e+04
50%        -0.350000     219.500000                 17.000000  9.291050e+04
75%        17.700000     347.250000                 23.000000  1.689172e+05
max      8909.500000     500.000000                 23.000000  2.300000e+06

       total_stockholder_equity
count                500.000000
mean               30628.076000
std                43642.576833
min               -59909.000000
25%                 7553.750000
50%                15809.500000
75%                37828.500000
max               301893.000000
                     ceo                       industry      sector country  \
count                500                            500         500     500
unique               500                             58          21      34
top     Megan J. Brennan  Banks: Commercial and Savings  Financials     USA
freq                   1                             51         118     132

           hq_location              website
count              500                  500
unique             235                  500
top     Beijing, China  http://www.10086.cn
freq                56                    1

In [17]:
f500.loc['Dow Chemical', 'ceo'] = 'Jim Fitterling'
print(f500.loc['Dow Chemical', 'ceo'])

Jim Fitterling

In [18]:
motor_bool = f500['industry'] == 'Motor Vehicles and Parts'
print(motor_bool)
motor_countries = f500.loc[motor_bool, 'country']
print(motor_countries)

Walmart                                         False
State Grid                                      False
Sinopec Group                                   False
China National Petroleum                        False
Toyota Motor                                     True
Volkswagen                                       True
Royal Dutch Shell                               False
Berkshire Hathaway                              False
Apple                                           False
Exxon Mobil                                     False
McKesson                                        False
BP                                              False
UnitedHealth Group                              False
CVS Health                                      False
Samsung Electronics                             False
Glencore                                        False
Daimler                                          True
General Motors                                   True
AT&T                                            False
EXOR Group                                      False
Ford Motor                                       True
Industrial & Commercial Bank of China           False
AmerisourceBergen                               False
China State Construction Engineering            False
AXA                                             False
Amazon.com                                      False
Hon Hai Precision Industry                      False
China Construction Bank                         False
Honda Motor                                      True
Total                                           False
                                                ...
Amgen                                           False
Rabobank Group                                  False
Altice                                          False
Onex                                            False
US Foods Holding                                False
Shanxi Jincheng Anthracite Coal Mining Group    False
Randstad Holding                                False
Tencent Holdings                                False
LG Display                                      False
Emirates Group                                  False
U.S. Bancorp                                    False
H & M Hennes & Mauritz                          False
Aflac                                           False
Sodexo                                          False
Suning Commerce Group                           False
GS Caltex                                       False
Ultrapar Holdings                               False
Xiamen C&D                                      False
Sears Holdings                                  False
China General Technology                        False
National Grid                                   False
Dollar General                                  False
Telecom Italia                                  False
Xiamen ITG Holding Group                        False
Xinjiang Guanghui Industry Investment           False
Teva Pharmaceutical Industries                  False
New China Life Insurance                        False
Wm. Morrison Supermarkets                       False
TUI                                             False
AutoNation                                      False
Name: industry, Length: 500, dtype: bool
Toyota Motor                                 Japan
Volkswagen                                 Germany
Daimler                                    Germany
General Motors                                 USA
Ford Motor                                     USA
Honda Motor                                  Japan
SAIC Motor                                   China
Nissan Motor                                 Japan
BMW Group                                  Germany
Dongfeng Motor                               China
Robert Bosch                               Germany
Hyundai Motor                          South Korea
China FAW Group                              China
Beijing Automotive Group                     China
Peugeot                                     France
Renault                                     France
Kia Motors                             South Korea
Continental                                Germany
Denso                                        Japan
Guangzhou Automobile Industry Group          China
Tata Motors                                  India
ZF Friedrichshafen                         Germany
Jardine Matheson                             China
Magna International                         Canada
Volvo                                       Sweden
Hyundai Mobis                          South Korea
Aisin Seiki                                  Japan
Zhejiang Geely Holding Group                 China
Subaru                                       Japan
Bridgestone                                  Japan
Mazda Motor                                  Japan
Suzuki Motor                                 Japan
Sumitomo Electric Industries                 Japan
Michelin                                    France
Name: country, dtype: object

In [19]:
import numpy as np
prev_rank_before = f500['previous_rank'].value_counts(dropna=False).head()
f500.loc[f500['previous_rank'] == 0, 'previous_rank'] = np.nan
prev_rank_after = f500['previous_rank'].value_counts(dropna=False).head()

In [20]:
f500['rank_change'] = f500['previous_rank'] - f500['rank']
rank_change_desc = f500['rank_change'].describe()
print(rank_change_desc)

count    467.000000
mean      -3.533191
std       44.293603
min     -199.000000
25%      -21.000000
50%       -2.000000
75%       10.000000
max      226.000000
Name: rank_change, dtype: float64

In [21]:
top_3_countries = f500['country'].value_counts().head(3)
industry_usa = f500['industry'][f500['country'] == 'USA'].value_counts().head(2)
sector_china = f500['sector'][f500['country'] == 'China'].value_counts().head(3)
mean_employees_japan = f500['employees'][f500['country'] == 'Japan'].mean()

In [22]:
import pandas as pd
# read the data set into a pandas dataframe
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan
f500_selection = f500[['rank', 'revenues', 'revenue_change']].head(5)

In [23]:
f500 = pd.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [24]:
fifth_row = f500.iloc[4]
company_value = f500.iloc[0,0]
print(fifth_row[:3])
print(company_value)

company     Toyota Motor
rank                   5
revenues          254694
Name: 4, dtype: object
Walmart

In [25]:
first_three_rows = f500.iloc[0:3]
first_seventh_row_slice = f500.iloc[[0,6], 0:5]

In [26]:
previous_rank_is_null2 = f500['previous_rank'].isnull()
null_previous_rank2 = f500[previous_rank_is_null2][['company', 'rank', 'previous_rank']]
previous_rank_is_null3 = f500['previous_rank'].isnull()
previous_rank_is_null3_change = f500[previous_rank_is_null3]
null_previous_rank3 = previous_rank_is_null3_change[['company', 'rank', 'previous_rank']]

null_previous_rank = f500[f500["previous_rank"].isnull()][["company","rank", "previous_rank"]]
print(null_previous_rank == null_previous_rank2)
print(null_previous_rank == null_previous_rank3)

     company  rank  previous_rank
48      True  True          False
90      True  True          False
123     True  True          False
138     True  True          False
140     True  True          False
180     True  True          False
267     True  True          False
271     True  True          False
341     True  True          False
375     True  True          False
376     True  True          False
392     True  True          False
409     True  True          False
414     True  True          False
431     True  True          False
440     True  True          False
441     True  True          False
446     True  True          False
456     True  True          False
458     True  True          False
461     True  True          False
463     True  True          False
466     True  True          False
472     True  True          False
477     True  True          False
482     True  True          False
484     True  True          False
487     True  True          False
491     True  True          False
493     True  True          False
494     True  True          False
495     True  True          False
499     True  True          False
     company  rank  previous_rank
48      True  True          False
90      True  True          False
123     True  True          False
138     True  True          False
140     True  True          False
180     True  True          False
267     True  True          False
271     True  True          False
341     True  True          False
375     True  True          False
376     True  True          False
392     True  True          False
409     True  True          False
414     True  True          False
431     True  True          False
440     True  True          False
441     True  True          False
446     True  True          False
456     True  True          False
458     True  True          False
461     True  True          False
463     True  True          False
466     True  True          False
472     True  True          False
477     True  True          False
482     True  True          False
484     True  True          False
487     True  True          False
491     True  True          False
493     True  True          False
494     True  True          False
495     True  True          False
499     True  True          False

In [27]:
null_previous_rank = f500[f500["previous_rank"].isnull()]
top5_null_prev_rank = null_previous_rank.iloc[:5]
print(top5_null_prev_rank)

                    company  rank  revenues  revenue_change  profits  assets  \
48    Legal & General Group    49    105235           442.3   1697.9  577954
90                   Uniper    91     74407             NaN  -3557.5   51541
123       Dell Technologies   124     64806            18.1  -1672.0  118206
138  Anbang Insurance Group   139     60800           124.0   3883.9  430040
140         Albertsons Cos.   141     59678             1.6   -373.3   23755

     profit_change               ceo                          industry  \
48             3.4      Nigel Wilson   Insurance: Life, Health (stock)
90             NaN     Klaus Schafer                            Energy
123            NaN   Michael S. Dell       Computers, Office Equipment
138            0.9        Wu Xiaohui  Insurance: Life, Health (Mutual)
140            NaN  Robert G. Miller              Food and Drug Stores

                 sector  previous_rank  country          hq_location  \
48           Financials            NaN  Britain      London, Britain
90               Energy            NaN  Germany  Dusseldorf, Germany
123          Technology            NaN      USA       Round Rock, TX
138          Financials            NaN    China       Beijing, China
140  Food & Drug Stores            NaN      USA            Boise, ID

                                 website  years_on_global_500_list  employees  \
48   http://www.legalandgeneralgroup.com                        17       8939
90              http://www.uniper.energy                         1      12890
123      http://www.delltechnologies.com                        17     138000
138           http://www.anbanggroup.com                         1      40707
140            http://www.albertsons.com                        13     273000

     total_stockholder_equity
48                       8579
90                      12889
123                     13243
138                     20372
140                      1371

In [28]:
previously_ranked = f500[f500['previous_rank'].notnull()]
rank_change = previously_ranked['previous_rank'] - previously_ranked['rank']
f500['rank_change'] = rank_change
print(rank_change.shape)
print(rank_change.tail(3))

(467,)
496   -70.0
497   -61.0
498   -32.0
dtype: float64

In [29]:
large_revenue = f500['revenues'] > 100000
negative_profits = f500['profits'] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = f500[combined]
big_rev_neg_profit2 = f500.loc[combined, ['company', 'profits']]

In [30]:
big_rev_neg_profit = f500[(f500["revenues"] > 100000) & (f500["profits"] < 0)]
brazil_venezuela = f500[(f500['country'] == 'Brazil') | (f500['country'] == 'Venezuela')]
tech_outside_usa = f500[(f500['sector'] == 'Technology') & ~ (f500['country'] == 'USA')].head()

In [31]:
japan = f500[f500["country"] == "Japan"]
japan_employees = japan.sort_values("employees", ascending=False)
first_japan = japan_employees.iloc[0]
top_japanese_employer2 = first_japan['company']

selected_rows = f500[f500["country"] == "Japan"]
sorted_rows = selected_rows.sort_values("employees", ascending=False)
top_japanese_employer = sorted_rows.iloc[0]["company"]

print(top_japanese_employer2)
print(top_japanese_employer)

Toyota Motor
Toyota Motor

In [32]:
top_employer_by_country = {}
countries = f500['country'].unique()
for c in countries:
    selected_rows = f500[f500["country"] == c]
    sorted_rows = selected_rows.sort_values("employees", ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer['company']
    top_employer_by_country[c] = employer_name
print(top_employer_by_country)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}

In [33]:
f500['roa'] = f500['profits'] / f500['assets']
roa_desc = f500['roa'].describe()
print(roa_desc)

top_roa_by_sector2 = {}
sector = f500['sector'].unique()
for s in sector:
    is_sector = f500["sector"] == s
    sector_companies = f500.loc[is_sector]
    sort_sector = sector_companies.sort_values("roa",ascending=False)
    top_company = sort_sector.iloc[0]
    company_name = top_company["company"]
    top_roa_by_sector2[s] = company_name
print(top_roa_by_sector2) 

top_roa_by_sector = {}
for sector in f500["sector"].unique():
    is_sector = f500["sector"] == sector
    sector_companies = f500.loc[is_sector]
    top_company = sector_companies.sort_values("roa",ascending=False).iloc[0]
    company_name = top_company["company"]
    top_roa_by_sector[sector] = company_name

count    499.000000
mean       0.030428
std        0.043733
min       -0.237236
25%        0.005632
50%        0.021783
75%        0.044978
max        0.236955
Name: roa, dtype: float64
{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonalds', 'Business Services': 'Adecco Group'}

### 4. Conclusion